
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.sass-cache/
/config/settings.yaml
/node_modules/
/public/assets/
!public/assets/css/
!public/assets/js/
