<audio id="song">
    Your browser does not support the audio element.
</audio>

<figure id="player">
    <div class="row half-gutters">
        <div class="col-2">
            <img alt="" class="img-fluid">
        </div>
        <div class="col-7 d-flex align-items-center">
            <div>
                <span class="title">-</span><br>
                <span>
                    <small class="artist">-</small> -
                    <small class="album">-</small>
                </span>
            </div>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center">
            <button><i class="fas fa-step-backward"></i></button>
            <button><i class="fas fa-play"></i></button>
            <button><i class="fas fa-step-forward"></i></button>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar"></div>
    </div>
</figure>